server {
    listen       80;

    location /api {
        rewrite ^/api(/.*)$ $1 break;
        proxy_pass ${API_HOST}:${API_PORT};
    }

    location /server {
        rewrite ^/server(/.*)$ $1 break;
        proxy_pass ${STATIC_HOST}:${STATIC_PORT};
    }

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}

